main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

article {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: black;
  gap: 10px;
}

article > figure {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  border: 1px solid gainsboro;
}

article > figure > img {
  width: 299px;
  height: 299px;
  object-fit: cover;
}

article > figure > span {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Breathing", sans-serif;
  font-size: 1.5rem;
  text-shadow: var(--textShade01);
  margin: 10px;
}

article > section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 299px;
}

article > section > h4 {
  align-self: flex-start;
}

article > section > p {
  flex: 1;
}

article > section > a {
  align-self: flex-end;
}
