a {
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

a:not(nav a, .primary) {
  color: var(--primary);
}

a:not(nav a, .primary):hover {
  color: grey;
}

nav a {
  color: ghostwhite;
  font-family: "Montserrat-Bold", sans-serif;
  box-sizing: content-box;
  opacity: 0.8;
}

nav a:hover {
  opacity: 1;
}

nav a.active {
  color: var(--primary);
}

nav a.pending {
  color: var(--secondary);
}

header > nav a {
  text-transform: uppercase;
  padding: 0.8rem 0;
}

/* UNDERLINE ANIMATION */
/* body>header>nav>a::after {
  content: '';
  display: block;
  width: 0;
  height: 0px;
  border-bottom: 1px solid var(--primary);
  transition: width .3s;
}

body>header>nav>a:hover::after {
  width: 100%;
} */
/* UNDERLINE ANIMATION */
