/* html {
  border: 1px dashed red;
} 
body {
  border: 1px dashed blue;
}
header {
  border: 1px dotted yellow;
}
*/
/* nav {
  border: 1px dotted red;
} */

/* a {
  border: 1px dotted blue;
}

button {
  border: 1px dotted green;
} */

/* main {
  border: 1px dashed crimson;
} */
/* section {
  border: 1px dashed orange;
} */
/* article {
  border: 1px dashed pink;
} */

/* aside {
  border: 1px dotted white;
} */

/* footer {
  border: 1px dotted purple;
} */
