html {
  /* border: 0.5rem dashed darkred; */
  background-color: var(--black);
  overflow-y: scroll;
  overflow-x: hidden;

  & > body {
    /* border: 0.5rem dashed red; */
    min-height: 100vh;
    overflow-x: clip;

    & > main {
      /* border: 0.5rem dashed tomato; */
      padding: var(--padding);
    }
  }
}

/*******************
  BACKGROUND IMAGES
*******************/
body > img.background-image {
  position: fixed;
  z-index: -1;
  height: 100vh;
  bottom: 0;
  right: -250px;
}

body > svg.franklin {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 40%;
  color: var(--primary);
}

[data-error] {
  color: crimson;
  font-weight: bold;
  margin: 0.2rem;
}
[data-success] {
  color: green;
  font-weight: bold;
  margin: 0.2rem;
}

small,
small > * {
  font-size: 0.8rem;
}

/* .react-icons {
    vertical-align: middle;
    color: ghostwhite;
    width: 1.8rem;
    height: 1.8rem;
    padding: .3rem;
} */

/******************************
  Google reCaptcha Badge hidden
******************************/
.grecaptcha-badge {
  visibility: hidden;
}

/*************************
  Google Sign Flicker Fix
*************************/
.g_id_signin > div > div:first-child {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
  /* IOS and Mozilla on Android */
  .g_id_signin > div > div:first-child {
    display: block;
  }
}

@media only screen and (hover: hover) and (pointer: coarse) {
  /* Chromium on Android */
  .g_id_signin > div > div:first-child {
    display: block;
  }
}
