* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
button {
  border: none;
  background-color: white;
  cursor: pointer;
  margin: 1px;
}
.grecaptcha-badge {
  visibility: hidden;
}

h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-shadow: 3px 4px 8px rgba(114, 114, 114, 0.4);
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
nav.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #323232;
}
a:hover {
  opacity: 0.8;
}
a.pending {
  color: crimson;
}
a.active {
  color: #336699;
}
