main {
  display: flex;
  justify-content: center;
}

main > article {
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 2rem;
}

main > article > nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: ghostwhite;
}
