main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 300px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 300px;
  height: fit-content;
  font-size: 1rem;
}

form > input {
  width: 99%;
}
/* form > button {
  width: 100%;
  height: fit-content;
  padding: 4px 0;
  background-color: var(--primary);
  color: ghostwhite;
  border: none;
} */
