section > article {
  width: 100%;
  height: fit-content;
  border: none;
}

section > article > header {
  color: #323232;
  text-shadow: none;
}
section > article > header > div.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
section > article > header > div.title > h3 {
  width: fit-content;
}
